.tabsContainer {
  display: flex;
  justify-content: space-around;
  height: 3.75rem;
  border-bottom: 1px solid var(--border);
}

.tab {
  flex: 1;
  text-align: center;
  padding: 0.625rem;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 0.1875rem solid transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  color: var(--muted-foreground);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab:hover {
  background-color: var(--accent-hover);
}

.activeTab {
  border-color: var(--primary);
  color: var(--primary);
}